# ==========================================
# Prerequisites and Dependency Files
# ==========================================
*.d

# ==========================================
# Compiled Object and Intermediate Files
# ==========================================
*.o
*.obj
*.ko
*.slo
*.lo
*.elf

# ==========================================
# Precompiled Headers
# ==========================================
*.gch
*.pch

# ==========================================
# Linker, Map, and Debug Output
# ==========================================
*.ilk
*.map
*.exp
*.pdb
*.idb
*.su
*.dwo
*.dSYM/

# ==========================================
# Libraries (Static and Dynamic)
# ==========================================
*.lib
*.a
*.la
*.lai
*.dll
*.so
*.so.*
*.dylib

# ==========================================
# Executables and App Bundles
# ==========================================
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ==========================================
# Build Directories and Build Systems
# ==========================================
# Common build directory names
[Bb]uild/
[Cc]make-build-*/
[Oo]ut/


# ==========================================
# Text Editor / IDE Specific
# ==========================================
.vscode/
.idea/
*.suo
*.user
*.sln.docstates

# ==========================================
# Personal
# ==========================================
[Dd]ump/
[Nn]ote*/
*.[Nn]ote